

/* _____________________________ Fonts _____________________________ */

@font-face {
  font-family: fontLight;
  src: url(../font/outfit/outfit_thin.ttf);
}


@font-face {
  font-family: fontThin;
  src: url(../font/outfit/outfit_light.ttf);
}


@font-face {
  font-family: fontMedium;
  src: url(../font/outfit/outfit_medium.ttf);
}


@font-face {
  font-family: fontRegular;
  src: url(../font/outfit/outfit_regular.ttf);
}

@font-face {
  font-family: fontSemiBold;
  src: url(../font/outfit/outfit_semi_bold.ttf);
}

@font-face {
  font-family: fontBold;
  src: url(../font/outfit/outfit_bold.ttf);
}

@font-face {
  font-family: fontExtraBold;
  src: url(../font/outfit/outfit_extra_bold.ttf);
}

@font-face {
  font-family: fontBlack;
  src: url(../font/outfit/outfit_black.ttf);
}